<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spacewalker.daemon</string>
    
    <key>Program</key>
    <string>/usr/local/bin/spacewalker-daemon</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>ProcessType</key>
    <string>Interactive</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/spacewalker_daemon_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/spacewalker_daemon_stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
    </array>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>